

type: postgresql

version:
  postgresql: "16"

cluster:
  instances: 1

  storage:
    size: 4Gi
    storageClass: "standard"

resources:
  requests:
    memory: "128Mi"
    cpu: "50m"
  limits:
    memory: "256Mi"
    cpu: "250m"

